i.icon{
    font-size: 2em;
}

.container.main{ /*to only target containers that are main also*/
    margin-top: 7em;
}

#delete{  /*to display the edit and delete buttons next to each other*/
    display: inline;
}